/* index.css */

.contato {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contato form div {
  margin-bottom: 20px;
}

.contato form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.contato form input[type="text"],
.contato form input[type="email"],
.contato form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contato form textarea {
  height: 150px;
}

.contato form button[type="submit"] {
  background-color: orange;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contato form button[type="submit"]:hover {
  background-color: rgb(195, 127, 0);
}

.box{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  gap: 20px;
  flex-direction: column;
}


