/* Estilos para o menu hamburguer */
.menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: fixed;
    top: 20px; /* Ajuste conforme necessário */
    right: 20px; /* Ajuste conforme necessário */
    z-index: 1001; /* Ordem de empilhamento mais alta */
  }
  
  .menu-icon .linha {
    width: 100%;
    height: 2px;
    background-color: #000000;
  }
  
  /* Estilos para o menu */
  .menu {
    display: none;
    flex-direction: column;
    align-items: flex-end; /* Alinhar à direita */
    list-style: none;
    position: fixed;
    top: 57px;
    right: 0;
    height: 100vh; /* Ocupa toda a altura da tela */
    width: 50%;
    padding: 10px;
    margin: 0;
    background-color: rgba(250, 249, 246, 0.418); /* Fundo estilo vidro transparente */
    backdrop-filter: blur(10px); /* Efeito de desfoque no background */
    z-index: 1000; /* Ordem de empilhamento mais baixa */
  }
  
  .menu.aberto {
    display: flex;
  }
  
  /* Estilos para os itens do menu */
  .menu-item {
    color: #000000; /* Cor do texto */
    margin-bottom: 10px; /* Espaçamento entre os itens */
  }
  
  /* Estilos para os itens do menu ao passar o mouse */
  .menu-item:hover {
    text-decoration: underline;
  }
  
  /* Restante do seu CSS existente */
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    color: rgb(0, 0, 0);
  }
  
  .logo {
    height: 100%;
    display: flex;
    gap: 5px;
  }
  
  nav span {
    color: #FF9505;
  }
  
  nav img {
    width: 30px;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    gap: 30px;
    text-transform: uppercase;
  }
  
  a {
    display: flex;
    gap: 5px;
    text-decoration: none;
  }
  
  nav ul li {
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    text-align: right;
    padding: 2px 20px;
  }
  
  nav ul li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FF9505;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  
  nav ul li:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  @media (max-width: 3840px) {
    .menu-icon {
      display: flex;
      position: fixed;
      top: 20px; /* Ajuste conforme necessário */
      right: 20px; /* Ajuste conforme necessário */
      z-index: 1001; /* Para garantir que esteja acima dos outros elementos */
    }
  
    nav ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 5px;
  
      padding: 10px;
      z-index: 1000; /* Ajustado para estar abaixo do menu hamburguer */
    }
  
    nav ul.aberto {
      display: flex;
    }
  }
  