.formacao-container {
    display: flex;
    justify-content: center;
    align-items: stretch;


  flex-direction: column;
    padding: 100px 20px;
    margin: 0px auto;
    gap: 10px;
    max-width: 1024px;
  }
  

  
  .formacao-box {
    max-width: 700px;
    margin: 0 auto;

  
gap: 10px;
display: flex;
flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formacao-box h2 {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
  }
  
  .formacao-box p {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
    text-align: center;
  }
  

  .colorGreen{
        color: rgb(112, 196, 88);
  }

  .colorBlueligth{
    color: #007bff;
  }

  .colorBlue{
   color: #0b137b;
  }